<section>
  <h1>About Me</h1>
  <p>
  Hi I'm Ryan, I am currently building data products to help people understand their bodies and eliminate chronic disease before it begins.
  I'm interested in machine learning, data systems, startups & software engineering. 
  
  <br />
  <br />
  On this blog you can find
  my posts on Ruby, Scala, data infrastructure and open health data analysis.
  </p>
  <p>
    Find me online at the following locations:
    <ul id="about_me_list">
    	<li>
    		<a href="http://twitter.com/rweald">Twitter</a>
    	</li>
    	<li>
    		<a href="http://www.linkedin.com/in/ryanweald/">LinkedIn</a>
    	</li>
    	<li>
    		<a href="http://github.com/rweald">Github</a>
    	</li>
    </ul>
    </p>
</section>
