<section>
  <h1>About Me</h1>
  <p>
    Hi I'm Ryan. I am currently a data scientist 
    at <a href="http://sharethrough.com">Sharethrough</a>.
    My main interests liejin using data and machine learning to improve peoples lives. 
    I'm particularly interesting in health care and data driven businesses, such as advertising.
  </p>
  <p>
    You can find me online at the following locations:
    <ul id="about_me_list">
    	<li>
    		<a href="http://twitter.com/rweald">Twitter</a>
    	</li>
    	<li>
    		<a href="http://www.linkedin.com/in/ryanweald/">LinkedIn</a>
    	</li>
    	<li>
    		<a href="http://github.com/rweald">Github</a>
    	</li>
    </ul>
    </p>
</section>
